name: Pre-commit

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  pre-commit:
    runs-on: ubuntu-latest

    steps:
      - name: Check out code
        uses: actions/checkout@v3

      - name: Install poetry
        run: pipx install poetry

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"
          cache: "poetry"

      - name: Install dependencies
        run: |
          poetry config virtualenvs.create true
          poetry config virtualenvs.in-project true
          poetry install

      - name: Cache the pre-commit environment
        uses: actions/cache@v3
        with:
          path: |
            ~/.cache/pre-commit
            .venv
          key: ${{ runner.os }}-precommit-${{ hashFiles('**/.pre-commit-config.yaml', '**/poetry.lock') }}
          restore-keys: |
            ${{ runner.os }}-precommit-

      - name: Run pre-commit
        run: poetry run pre-commit run --all-files
